.page-footer {
  background-color: red;
}
.nav-wrapper {
  background-color: red;
}

body {
  background-image: url(../img/One-Punch.jpg);
  background-size: contain;
  background-repeat:  round;
  color: red;
}
