@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Press+Start+2P&display=swap');

body {
  color: white;
  background-color: rgb(155, 0, 0);
  background-image: url(../img/wallpaper.jpg);
  font-family: 'Marcellus SC', serif;
}

h3{
  color: black;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  /*font-family: 'Press Start 2P', cursive;*/
}

/* Selectores personalizados */

img {
  margin-left: 60%;
  border: 2px solid black;
  border-radius: 21px;
}

.contenedor {
  background-color: rgb(100, 0, 0);
  margin: 50px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
}
